<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles1.css">
</head>

<body>
    <%- include('partials/navbar.ejs'); %>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3'>
                <p class='lead' style="color: rgb(0, 89, 255);">PetCom</p>
                <div class='list-group'>
                    <button id="b1" type="button" class='list-group-item list-group-item-action' data-toggle="list">Prikazi podatke o
                        veterinaru</button>
                    <button id="b2" type="button" class='list-group-item list-group-item-action' data-toggle="list">Prikazi
                        kalendar</button>
                    <button id="b4" type="button" class='list-group-item list-group-item-action' data-toggle="list">Promeni radno
                        vreme</button>
                </div>
            </div>
            <div class='col-md-9'>
                <br>
                <br>
                <div id="id1" class='col-md-9'>
                    <% if(user!=undefined) {%>
                    <dl class="row">
                        <dt class="col-sm-3">Ime i prezime</dt>
                        <dd class="col-sm-9"><%= user.ime %> <%= user.prezime %></dd>

                        <dt class="col-sm-3">Telefon</dt>
                        <dd class="col-sm-9"><%=user.telefon%></dd>

                        <dt class="col-sm-3">Username</dt>
                        <dd class="col-sm-9"><%= user.username %></dd>

                        <dt class="col-sm-3">Email</dt>
                        <dd class="col-sm-9"><%= user.email %></dd>

                        <dt class="col-sm-3">Ambulanta</dt>
                        <dd class="col-sm-9"><%= user.ambulanta %></dd>

                        <dt class="col-sm-3">Adresa</dt>
                        <dd class="col-sm-9"><%= user.adresa %></dd>

                        <button style="margin-left: 170px; width: 150px;" id="btn1" class="btn btn-info">Izmeni
                            podatke</button>
                    </dl>
                    <hr>
                    <%}%>
                </div>
                <div id="id2" class='col-md-9'>
                    <% if(user!=undefined) {%>
                    <form method='post' action='/profile/veterinar/edit/<%=user._id%>?_method=PUT'>
                        <div class="form-group">
                            <label for="inputIme">Ime:</label>
                            <input type="text" id="inputIme" class="form-control" name='ime' value=<%= user.ime %>
                                required>
                        </div>
                        <div class="form-group">
                            <label for="inputPrezime">Prezime:</label>
                            <input type="text" id="inputPrezime" class="form-control" name='prezime'
                                value=<%= user.prezime %> required>
                        </div>
                        <div class="form-group">
                            <label for="inputTelefon">Telefon:</label>
                            <input type="text" id="inputTelefon" class="form-control" name='telefon'
                                value="<%=user.telefon%>" pattern="^06\d{7,8}$" title="Morate uneti format telefona."
                                required>
                        </div>
                        <div class="form-group">
                            <label for="inputUsername">Username:</label>
                            <input type="text" id="inputUsername" class="form-control" name='username'
                                value=<%= user.username %> required>
                        </div>
                        <div class="form-group">
                            <label for="inputAmbulanta">Ambulanta:</label>
                            <input type="text" id="inputAmbulanta" class="form-control" name='ambulanta'
                                value=<%= user.ambulanta %> required>
                        </div>
                        <div class="form-group">
                            <label for="inputAdresa">Adresa:</label>
                            <input type="text" id="inputAdresa" class="form-control" name='adresa'
                                value=<%= user.adresa %> required>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email:</label>
                            <input type="email" id="inputEmail" class="form-control" name='email'
                                value=<%= user.email %> required>
                            <small id="emailHelp" class="form-text text-muted">Necemo podeliti vasu adresu ni sa
                                kim.</small>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Nova sifra:</label>
                            <input type="password" id="inputPassword" class="form-control" name='password2'
                                placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}"
                                title="Mora da sadrzi bar jedan broj, jedno malo slovo, jedno veliko slovo i bar 7 karaktera."
                                >
                        </div>
                        <div class="form-group">
                            <label for="inputPassword2">Unesite trenutnu sifru da biste potvrdili promene:</label>
                            <input type="password" id="inputPassword2" class="form-control" name='password'
                                placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}"
                                title="Mora da sadrzi bar jedan broj, jedno malo slovo, jedno veliko slovo i bar 7 karaktera."
                                required>
                        </div>
                        <button type="submit" class="btn btn-primary">Sacuvaj</button>
                    </form>
                    <%}%>
                    <br>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#myModal<%= user._id %>">Brisanje
                        naloga</button>
                    
                     <!-- pocetak modala -->
                     <div class="modal" id="myModal<%= user._id %>" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Brisanje veterinara <%= user.username %></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Da li ste sigurni da zelite da obrišete Vaš nalog?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                                <form method='post' action='/profile/veterinar/<%=user._id%>?_method=DELETE'>
                                    <button type="submit" class="btn btn-danger">Izbriši</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- kraj modala -->
                </div>
                <div id="id3" class='col-md-9'>
                    <div class="table-responsive">
                        <h5>Kliknite na zauzet da vidite podatke o korisniku koji je zakazao termin.</h5>
                        <table style="text-align:center" class="table table-sm table-bordered">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"><%=dan[d]%></th>
                    <th scope="col"><%=dan[(d+1)%7]%></th>
                    <th scope="col"><%=dan[(d+2)%7]%></th>
                    <th scope="col"><%=dan[(d+3)%7]%></th>
                    <th scope="col"><%=dan[(d+4)%7]%></th>
                    <th scope="col"><%=dan[(d+5)%7]%></th>
                    <th scope="col"><%=dan[(d+6)%7]%></th>
                    </tr>
                    <tr>
                        <th scope="row">08:00-09:00</th>
                        <%for(var l=0; l<7; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                            <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    <tr>
                        <th scope="row">09:00-10:00</th>
                        <%for(var l=7; l<14; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                        <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    <tr>
                        <th scope="row">10:00-11:00</th>
                        <%for(var l=14; l<21; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                            <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    <tr>
                        <th scope="row">11:00-12:00</th>
                        <%for(var l=21; l<28; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                            <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    <tr>
                        <th scope="row">12:00-13:00</th>
                        <%for(var l=28; l<35; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                            <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    <tr>
                        <th scope="row">13:00-14:00</th>
                        <%for(var l=35; l<42; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                            <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    <tr>
                        <th scope="row">14:00-15:00</th>
                        <%for(var l=42; l<49; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                            <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    <tr>
                        <th scope="row">15:00-16:00</th>
                        <%for(var l=49; l<56; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                            <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    <tr>
                        <th scope="row">16:00-17:00</th>
                        <%for(var l=56; l<63; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                            <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    <tr>
                        <th scope="row">17:00-18:00</th>
                        <%for(var l=63; l<70; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                            <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    <tr>
                        <th scope="row">18:00-19:00</th>
                        <%for(var l=70; l<77; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                            <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    <tr>
                        <th scope="row">19:00-20:00</th>
                        <%for(var l=77; l<84; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                            <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    <tr>
                        <th scope="row">20:00-21:00</th>
                        <%for(var l=84; l<91; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                            <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    <tr>
                        <th scope="row">21:00-22:00</th>
                        <%for(var l=91; l<98; l++) {%>
                        <% if(t[l]==undefined) {%>
                        <td class="table-dark">Ne radimo</td>
                        <%}else{ if(t[l].popunjen==true) {%>
                            <td class="table-danger"><div class="popup" onclick="myFunction('<%=l%>')">Zauzet<span class="popuptext" id="myPopup<%=l%>"><%=t[l].podaci.ime%> <%=t[l].podaci.prezime%> Telefon: <%=t[l].podaci.telefon%> Opis: <%=t[l].podaci.opis%></span></div></td>
                        <%}else{%>
                        <td class="table-success">Slobodan</td>
                        <%}}}%>
                    </tr>
                    </table>
                </div>
                <button class="open-button" onclick="openForm()">Promeni termin</button>
                <div class="form-popup" id="myForm">
                    <form method='post' action='/promenitermin/<%=idrasporeda%>?_method=PUT' class="form-container">
                        <h3>Promeni termin</h3>

                        <label for="dan"><b>Dan:</b></label>
                        <select class="form-control" id="dan" name="dan">
                            <option value="Ponedeljak">Ponedeljak</option>
                            <option value="Utorak">Utorak</option>
                            <option value="Sreda">Sreda</option>
                            <option value="Cetvrtak">Cetvrtak</option>
                            <option value="Petak">Petak</option>
                            <option value="Subota">Subota</option>
                            <option value="Nedelja">Nedelja</option>
                        </select>

                        <label for="vreme"><b>Vreme pocetka termina:</b></label>
                        <select class="form-control" id="vreme" name="vreme">
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                        </select>

                        <label for="tip"><b>Zakazi/Oslobodi/Oznaci kao neradan termin</b></label>
                        <select class="form-control" id="tip" name="tip">
                            <option value="Zakazi">Zakazi</option>
                            <option value="Oslobodi">Oslobodi</option>
                            <option value="Neradan">Neradan</option>
                        </select>

                        <button type="submit" class="btn">Sacuvaj</button>
                        <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>
            </div>
                <div id="id4" class='col-md-9'>
                    <h5 style="color: red;">Upozorenje!! Ukoliko smanjite radno vreme otkazace se zakazani termini!</h5>
                    <form method='post' action='/profile/veterinar/radnovreme/<%=idrasporeda%>?_method=PUT'>
                        <div class="form-group">
                            <label for="inputOd">Od:</label>
                            <input type="text" id="inputOd" class="form-control" name='od' value=<%= raspored.od %> pattern="[89]|1[0-9]|2[01]"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="inputDo">Do:</label>
                            <input type="text" id="inputDo" class="form-control" name='do' value=<%= raspored.do %> pattern="[9]|1[0-9]|2[0-2]"
                                required>
                        </div>
                        <button type="submit" class="btn btn-primary">Sacuvaj</button>
                    </form>
                   
                </div>
            </div>


        </div>
    </div>
    </div>

    <script src="pom2.js"></script>
    <%- include ('partials/footer.ejs'); %>